 <h1>CONTEUDO DO INDEX</h1>
  <form action="/pessoas" method="post">
        <input type="text" name="nome" id="nome" placeholder="Digite o nome">
        <input type="number" name="ano" id="ano" placeholder="Ano">
        <button type="submit">Cadastrar</button>
    </form>